* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
}

.font_hotel {
    font-family: 'Grand Hotel', cursive;
}
.center {
    text-align: center;
}
.menu {
    margin: 0;
    padding: 14px 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.bouton_menu {
    font-size: 25px;
    text-align: center;
    padding: 15px 30px 15px 0px;
    display: inline;
}
.logo_menu {
    height: 55px;
    padding: 0px 0px 0px 30px;
}
.header {
    padding: 20vh 0px;
    background-image: url("../images/header.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.description_header {
    width: 55%;
    padding-right: 30px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.sizeXXL {
    margin: 0px;
    font-size: 90px;
    font-weight: 400;
    line-height: 80px
}
.sizeXL {
    font-size: 30px;
}
.color_green {
    color: #99cc66;
}
.color_white {
    color: white;
}
